.gimn{
    margin-left: 50px;
}
.head{
    margin-left: 50px;
}
.singers{
    font-weight: 700;
    color: orangered;
}
.wrapper{
    margin: 10px 0 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}