.registrationModalWrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer{
    background-color: gray;
    position: absolute;
    padding: 50px;
}
h1{
    color: white;
}
form{
    padding-left: 40px;
}
label{
    color: white;
}
.formWrapper{
    display: flex;
    justify-content: center;
}
.buttonWrapper{
    display: flex;
    justify-content: center;
}