textarea[name='addNewPost']{
    width: 500px;
    height: 50px;
    height: 100px;
    overflow-y: scroll;
    resize: none;
  }
  .wrapper{
    padding-left: 40px;
    margin-bottom: 30px;
  }
  .postsWrapperTitle{
    margin-left: 20px;
    padding: 20px;
    font-size: 20px;
  }
  .sendPost_wrapper{
    width: 50%;
    margin: 0 auto;
  }
  .sendPost_wrapper > * {
    color: black;
  }
  .btn{
    padding: 0 2px;
    margin-left: 10px;
  }
  #post{
    border:1px solid black;
  }